.portfolio-container {
    padding: 50px;
    text-align: center;
    background-color: #ececec;
  }
  
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .portfolio-item:hover img {
    transform: scale(1.1);
  }
  
  .project-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  