nav {
  background: linear-gradient(to right, #151815, #42444c);
  padding: 1rem 0;
}

nav a {
  transition: color 0.3s ease;
}

nav a:hover {
  color: #c4c4c4;
}

nav button {
  transition: color 0.3s ease;
}

nav button:hover {
  color: #c4c4c4;
}
